@media screen and (max-width:600px){
    nav .NavBar{
        width: 88.7vw;
        height: 100px;
        margin: auto;
        margin-top: 31px;
    }

    nav .NavBar .LineUp{
        border: 2px solid var(--main-nav-color);
    }

    nav .NavBar .GroupNav{
        width: 88.6vw;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav #logo{
        width: 22.6vw;
    }

    nav .NavBar .GroupNav .Mid{
        border-radius: 10px;
        display: flex;
        position: fixed;
        top: 3vh;
        bottom: 3vh;
        right: 4vw;
        left: 2vw;
        height: 94vh;
        width: 94vw;
        justify-content: space-between;
        flex-direction: column;
        background-color: var(--main-nav-color);
        margin: 0 !important;
        padding: 0px 0px 0px 0 !important;
        z-index: 10;
        box-sizing: border-box;
        transform: scale(0);
        opacity: 0;
        transition: 0.5s;
    }

    nav .NavBar .GroupNav .Mid.tampil{
        transform: scale(1);
        opacity: 1;
    }

    nav .NavBar .GroupNav .Mid li a{
        margin: 10vw;
        text-decoration: none;
        color: black;
        font-weight: 400;
        font-size: 3vw;
        padding: 10px 0;
    }


    nav .NavBar .GroupNav .Mid li a:hover{
        font-weight: 700;
        border-bottom: 2px solid black;
    }


    nav .NavBar .GroupNav .NoTelephone{
        display: none;
        width: 18.2vw;
        height: 29px;
        justify-content: space-between;
        align-items: center;
    }

    nav .NavBar .GroupNav .NoTelephone img{
        width: 2vw;
    }

    nav .NavBar .GroupNav .NoTelephone .Number{
        font-size: 1.65vw;
        font-weight: 400;
        margin-left: 0.6vw;
    }

    nav .NavBar .LineBottom{
        border: 2px solid var(--main-nav-color);
    }
    .menu-toggle{
        display: flex;
    }

    /* menu toggle */

    nav #logo-hp{
        display: block;
        width: 35vw;
        margin:35px 10vw;
    }

    nav .NavBar .GroupNav .NoTelephone-hp{
        display: flex;
        margin: 10vw;
        align-items: center;
    }

    nav .NavBar .GroupNav .NoTelephone-hp .Number{
        font-size: 16px;
        font-weight: 400;
        margin-left: 10px;
    }

    nav .NavBar .GroupNav .NoTelephone-hp .hp{
        width: 25px;
        height: 25px;
    }
}